/* off-white #F4EFE6 , yellow #BAB078 , aqua #3CB3BA , gray #9C9C9A , dark navy #36434F */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(images/underwater.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Amatic SC', cursive;
  margin: 0;
  z-index: 1;
}
#page-container {
  position: relative;
  min-height: 100vh;
  z-index: 1;
}
#content-wrapper {
  z-index: -1;
  background-color: #F4EFE6F0;
  width: 70%;
  margin: 50px auto 35px;
  padding: 10px 40px 250px 40px;
  height: auto;
}
header {
  z-index: 1;
  margin: 60px 0;

}
header h1 {
  margin: 40px auto;
  text-align: center;
  font-size: 4em;
  color: #36434F;
}
header nav {
  text-align: center;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline;
  padding: 1.2em;
}
nav ul li a {
  text-decoration: none;
  font-size: 2em;
  color: #BAB078;
  transition: ease-in-out all 400ms;
  -moz-transition: ease-in-out all 400ms;
  -webkit-transition: ease-in-out all 400ms;
}
nav ul li a:hover {
  font-size: 2.5em;
  font-weight: 900;
  margin: 0;
  color: #3CB3BA;
}
/* https://www.youtube.com/watch?v=US_3XvufMLU */
main {
  margin: 0 auto;
  min-height: calc(100vh - 406px - 250px);
}
form {
  z-index: 1;
  color: #3CB3BA;
  font-size: 1.2em;
  max-width: 480px;
  margin: 20px auto;
}
fieldset {
  z-index: 1;
  border: none;
}
form legend {
  z-index: 1;
  text-align: center;
  font-size: 1.8em;
}
form label {
  text-align: right;
}
form input {
  z-index: 1;
  width: 100px;
  margin: 10px;
}
h2, h3 {
  color: #3CB3BA;
}
div h2 {
  font-size: 2.2em;
  margin-top: 1em;
}
div h3 {
  font-size: 2em;
  margin-top: 1em;
}
div ul li {
  list-style: none;
}
div ul li a{
  text-decoration: none;
}

#tablediv{
  width: 100%;
  height: 221px;
  overflow-y: hidden;
  border: 5px solid #36434F;
  background-color: #3CB3BA;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}
table{
  background-color:  #3CB3BA;
  width: 60%;
  text-align: center;
  overflow-x: auto;
  float: left;
  font-size: 21px;
  font-weight: bolder;
}
td{
  width: 70px;
  color: #F4EFE6;
  padding-left: 6px;
}
th{
  background-color: #3CB3BA;
  width: 91px;
  position: absolute;
  color: #F4EFE6;
  text-align: right;
  padding: 0;
  padding-right: 10px;
  margin-left: -2px;
}
/* Rob Rizo helped come up with the idea to place a pic in table to fill ugly void when no data was present */
#tablePic{
  background-size: cover;
  width: 25%;
  height: 219px;
  background-color:#3CB3BA;
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  float: right;
  overflow-y: hidden;
  background: url(https://economictimes.indiatimes.com/thumb/msid-72258617,width-1200,height-900,resizemode-4,imgsize-797254/nemo-clownfish_istock.jpg) center center no-repeat;
  background-size: cover;
}

#fieldset-wrapper {
  z-index: 1;
  text-align: center;
}
#charts {
  margin: 4em auto;
}
#chart-wrapper {
  z-index: 1;
  margin: 1.5em;
  overflow: hidden;
  width: 300px;
  height: 300px;
  display: inline-block;
  background-color: #F4EFE6;
  border: 5px solid lightblue;
  border-radius: 25px;
}
#parameters {
  z-index: 1;
  height: 50px;
  width: 200px;
  border-radius: 6px;
  background-color: #3CB3BA;
  font-family: 'Amatic SC', cursive;
  font-size: 1.6em;
}
/* footer */
#footer-wrapper {
  z-index: 1;
  background-color: #36434FE8;
  height: 250px;
  width: 100%;
  margin: 0;
  color: #BAB078;
  text-align: center;
  padding-top: 40px;
}

.coral-img-div {
  display: block;
}

.coral-img {
  height: 150px;
  width: 24.5%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: none;
  border: 5px solid #36434F;
  border-radius: 45%; 
  box-shadow: 1px 1px 100px #3CB3BA;
}

#home-img-div {
  display: block;
}

.homefish-img {
  height: 200px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 24.5%;
  border-radius: 100%;
  box-shadow: 10px 10px 50px #BAB078;
}
 
.fishimg-datapg {
  height: auto;
  width: 19%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  transition: auto;border-radius: 30%;
  box-shadow: 10px 10px 30px #BAB078;
}

#data-img-div {
  display: block;
}

#about-img-div {
  display: block;
}
 
.fishimg-pg3 {
  height: 120px;
  width: 19%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 20%;
  box-shadow: 10px 10px 30px #BAB078;
}
#tank-img-div {
  display: inline;
}

.fish-tank {
  height: 400px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 50%;
  border: 10px solid #36434F;
  box-shadow: 10px 10px 100px #3CB3BA;
}
.tank {
  height: 225px;
  width: 285px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 5px;
  border: 15px groove #3CB3BA;
  display: block;
  box-shadow: 30px 30px 30px #36434F;
}
/* https://www.youtube.com/watch?v=ETXba6QOzYg */
.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateZ(0);
}
.bubbles > li
{
  position: absolute;
  list-style: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -60px;
  animation: shallow 20s infinite; 
  transition-timing-function: linear;
  border-radius: 50%;
}
.bubbles > li:nth-child(1){
  width: 40px;
  height: 40px;
  left: 40%;
}
.bubbles > li:nth-child(2){
  width: 10px;
  height: 10px;
  left: 90%;
  animation-delay: 4s;
  animation-duration: 23s;
}
.bubbles > li:nth-child(3){
  width: 60px;
  height: 60px;
  left: 10%;
  animation-delay: 8s;
  animation-duration: 30s;
}
.bubbles > li:nth-child(4){
  width: 40px;
  height: 40px;
  left: 5%;
  animation-delay: 1s;
  animation-duration: 32s;
}
.bubbles > li:nth-child(5){
  width: 80px;
  height: 80px;
  left: 50%;
  animation-delay: 7s;
  animation-duration: 22s;
}
.bubbles > li:nth-child(6){
  width: 40px;
  height: 40px;
  right: 10%;
  animation-delay: 5s;
  animation-duration: 30s;
}
.bubbles > li:nth-child(7){
  width: 10px;
  height: 10px;
  right: 10%;
  animation-delay: 1s;
  animation-duration: 32s;
}
.bubbles > li:nth-child(8){
  width: 30px;
  height: 30px;
  right: 5%;
  animation-delay: 4s;
  animation-duration: 38s;
}
.bubbles > li:nth-child(9){
  width: 50px;
  height: 50px;
  right: 8%;
  animation-delay: 6s;
  animation-duration: 30s;
}
.bubbles > li:nth-child(10){
  width: 10px;
  height: 10px;
  left: 10%;
  animation-delay: 10s;
  animation-duration: 25s;
}
@keyframes shallow{
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100%{
    -webkit-transform: translateY(-1080px);
    transform: translateY(-1080px);
  }
}
.deepbubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translateZ(0);
}
.deepbubbles > li
{
  position: absolute;
  list-style: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -1800px;
  animation: deep 20s infinite; 
  transition-timing-function: linear;
  border-radius: 50%;
}
.deepbubbles > li:nth-child(1){
  width: 40px;
  height: 40px;
  left: 40%;
}
.deepbubbles > li:nth-child(2){
  width: 10px;
  height: 10px;
  left: 90%;
  animation-delay: 4s;
  animation-duration: 13s;
}
.deepbubbles > li:nth-child(3){
  width: 60px;
  height: 60px;
  left: 10%;
  animation-delay: 8s;
  animation-duration: 20s;
}
.deepbubbles > li:nth-child(4){
  width: 40px;
  height: 40px;
  left: 5%;
  animation-delay: 1s;
  animation-duration: 22s;
}
.deepbubbles > li:nth-child(5){
  width: 80px;
  height: 80px;
  left: 50%;
  animation-delay: 7s;
  animation-duration: 12s;
}
.deepbubbles > li:nth-child(6){
  width: 40px;
  height: 40px;
  right: 10%;
  animation-delay: 5s;
  animation-duration: 20s;
}
.deepbubbles > li:nth-child(7){
  width: 10px;
  height: 10px;
  right: 10%;
  animation-delay: 1s;
  animation-duration: 22s;
}
.deepbubbles > li:nth-child(8){
  width: 30px;
  height: 30px;
  right: 5%;
  animation-delay: 4s;
  animation-duration: 28s;
}
.deepbubbles > li:nth-child(9){
  width: 50px;
  height: 50px;
  right: 8%;
  animation-delay: 6s;
  animation-duration: 20s;
}
.deepbubbles > li:nth-child(10){
  width: 10px;
  height: 10px;
  left: 10%;
  animation-delay: 10s;
  animation-duration: 15s;
}
@keyframes deep{
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100%{
    -webkit-transform:translateY(-2000px);
    transform: translateY(-2000px);
  }
}
#waterchange{
  background-color: #3CB3BA;
  color: #F4EFE6;
  font-size: 15px;
  border-radius: 12px;
  padding: 5px 14px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#days{
  font-weight: bolder;
}
